{% extends "shop/product/main.html" %}
{% load crispy_forms_tags %}


    {% block sidebar %}
    {% include "shop/sidebar.html" %}
    {% endblock sidebar %}


{% block testimonial %}
<div class="col-md-2" style="font-size: 12px;">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}


<form method="post" action="{% url 'login' %}">
{% csrf_token %}

{{ form|crispy }}

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
<p>Please, use the following form to log-in. If you don't have an
account <a href="{% url "register" %}">register here</a></p>
</div>
{% endblock %}
