{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    {% if cateogry %}
        Kaarabazaar|{{ cateogry.name }}
    {% else %}
        Kaarabazaar|Products
    {% endif %}
{% endblock %}

{% block sidebar %}
<link rel="stylesheet" href="{% static 'css/midview.css' %}">
{% include "shop/sidebar.html" %}
{% endblock sidebar %}

{% block carousel %}
<div class="col-sm-6 col-md-10" style="padding-top: 30px;">
     <div class="row" >
         {% for product in products %}
         <div class="col-sm-6 col-md-3">
             <div class="thumbnail" >
                 <div><a href="{{ product.get_absolute_url }}">
                     <img class="center-block" src="{% if product.image %}{{ product.image.url }}
                                 {% else %}{% static "img/no_image.png" %}{% endif %}" alt="..."
                                 style ="max-height:100px;" ></a>
                 </div>
   <div class="caption text-center">
     <a href="{{product.get_absolute_url}}"><p>{{ product.name }}</p></a>
     <p><span class="WebRupee">Rs</span> {{ product.price }}</p>
   </div>
 </div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
