{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    {% if cateogry %}
        Kaarabazaar|{{ cateogry.name }}
    {% else %}
        Kaarabazaar|Products
    {% endif %}
{% endblock %}

{% block sidebar %}
{% include "shop/sidebar.html" %}
{% endblock sidebar %}

{% block carousel %}
<link rel="stylesheet" href="{% static 'css/product_list.css' %}">
<div class="col-sm-6 col-md-9" style="padding-top: 30px;">
      {% if query_string %}<p>You searched for "<em><strong>{{query_string}}</strong></em>"</p>
      {% else %} {% endif %}
      {% if not products %}<p> Your search didn't produce any results. Please hover over products to see category-wise
        products </p> {% endif %}
     <div class="row flex" >
         {% for product in products %}
         <div class="col-md-3" >
             <div class="thumbnail" >
                 <div><a href="{{ product.get_absolute_url }}">
                   {% if product.get_images %}
                   {% load thumbnail %}
                   {% thumbnail product.get_images.0.image "120" as im %}
                   <a href="{{ product.get_absolute_url }}">
                     <img class="center-block img-responsive " src="{% if im %}{{ im.url }}
                     {% else %}{% static "img/no_image.png" %}{% endif %}" alt="..."
                     >
                   </a>
                   {% endthumbnail %}
                   {% else %}
                   <a href="{{ product.get_absolute_url }}">
                     <img class="center-block img-responsive " src="{% static "img/no_image.png" %}" alt="..."
                     >
                   </a>
                   {% endif %}
                 </div>
   <div class="caption text-center">
     <a href="{{product.get_absolute_url}}"><p>{{ product.name }}</p></a>
     <p><span class="WebRupee">Rs</span> {{ product.price }}</p>
   </div>
 </div>
</div>
{% endfor %}
</div>
</div>

{% for e in found_entries  %}
  {{e}}
{% endfor %}
{% endblock %}
