   {% load static %}
    <div class ="container" style="padding-top: 50px" id ="products">
        <div class="row">
            <div class="col-sm-6 col-md-6 thumbnail">
                <img class="center-block" src="{% if product.get_images %}{{ product.get_images.0.image.url }}
                 {% else %}
                 {% static 'img/no_image.png' %}
                {% endif %}">
            </div>
            <div class="col-sm-6 col-md-6">
                <h5>{{ product.name }}</h5>
                <p>
                    <div>



                    <div >
                      <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    </div>
                    <!-- Place this tag where you want the +1 button to render. -->

                </p>
                <h3><a href="{{ product.cateogry.get_absolute_url }}">{{ product.cateogry }}</a></h3>
                <p ><span class="WebRupee">Rs</span> {{ product.price }}</p>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input class ="btn btn-xs btn-danger" type="submit" value="Add to Cart">
                </form>

                {% if child_products %}
                  <div class="child_options" style="padding-top:15px;">
                    <h6>Options:</h6>
                   {% for product in child_products %}
                      <a href="{{product.get_absolute_url}}"><span class="badge">{{product.get_option_name}}</span></a>
                  {% endfor %}
                  </div>
                {% endif %}

                {% if product.get_description %}
                <div class="success" style="font-size:14px; padding-top:15px;">
                  <h6>Product Description:</h6>

                  <p >{{ product.description|linebreaks }}</p>
                </div>
                {% endif %}
                {% if product.get_features %}
                  <div >
                    <table class = "table table-condensed" style ="font-size:12px;" id ="table_detail">
                       <caption>Features</caption>
                       <tbody>
                         {% for key, value in product.get_features.items %}
                            <tr>
                              <td>{{key}}</td>
                              <td>{{value}}</td>
                            </tr>
                         {% endfor %}
                       </tbody>
                    </table>
                  </div>
                {% endif %}
            </div>
        </div>
        <script src="{% static 'js/loadingoverlay.min.js' %}"></script>
        <script src="{% static 'js/option_selector.js' %}"></script>
        <script type="text/javascript">
        </script>
    </div>
