   {% load static %}
   {% load thumbnail %}

    <div class ="container" style="padding-top: 50px" id ="products">
        <div class="row">


            <div class="col-sm-6 col-md-6" style="min-height:550px;">
            <div>
              <span class="badge-info">
              <a href="{% url 'shop:main_page' %}">Home</a> >
              {% for link in product.get_breadcrums %}
              {% if not forloop.last %}
              <a href="{{link.get_absolute_url}}">{{link.name_for_hierarchial_list}} </a> >
              {% else %}
              <a href="{{link.get_absolute_url}}">{{link.name_for_hierarchial_list}}</a>
              {% endif %}
              {% endfor %}
              </span>
            </div>


              <div class="bzoom_wrap">
                <ul id = "bzoom">
                  {% if product.get_images  %}
                  <p class="image_length" hidden>{{product.get_images|length}}</p>
                  {% for image in product.get_images %}
                  {% thumbnail image.image "400" as small_image %}
                  <li>
                    <img class="bzoom_thumb_image" src="{{small_image.url}}" alt="">
                    <img class="bzoom_big_image" src="{{image.image.url}}" alt="">
                  </li>
                  {% endthumbnail %}
                  {% endfor %}
                  {% else %}
                  <li>
                    <img class="bzoom_thumb_image" src="{% static 'img/no_image.png' %}" alt="">
                    <img class="bzoom_big_image" src="{% static 'img/no_image.png' %}" alt="">
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>

            <div class="col-sm-6 col-md-6">
              {% if messages %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
              </div>
            {% endif %}
                <h5>{{ product.name }}</h5>
                <p>
                    <div>
                    <div >
                      <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    </div>
                    <!-- Place this tag where you want the +1 button to render. -->
                </p>

                  <div class="row">
                    <div class="col-sm-6">

                <h6><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h6>
                <p ><span class="WebRupee">Rs</span> {{ product.price }} <span class="small"> + Shipping Charges</span> </p>
                <form action="{% url 'cart:cart_add' product.id %}?prev={{request.path}}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input class ="btn btn-xs btn-danger" type="submit" value="Add to Cart">
                </form>
                {% for options in product.get_options %}
                    <h6 style="padding-top:2px;">{{ options.option_type }}:</h6>
                    {% for op in options.parent.get_children %}
                      <a href="{{op.get_absolute_url}}"><span class="badge">{{op.get_option_name}}</span></a>
                    {% endfor %}
                {% endfor %}

                {% if child_products %}
                  <div class="child_options" style="padding-top:2px;">
                    <h6>{{child_products.0.option_type}}:</h6>
                   {% for product in child_products %}
                      <a href="{{product.get_absolute_url}}"><span class="badge small">{{product.get_option_name}}</span></a>
                  {% endfor %}
                  </div>
                {% endif %}
                    </div>
                    <div class="col-sm-6 nopadding" style="font-size: 11px;">
                      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js">
                      <p>Estimated Shipping Charges</p>
                      <p>Rs. 30</p>
                      <a href="#" data-toggle="tooltip" data-html="true" data-placement="bottom" title="For all orders above <span class='WebRupee'>Rs.</span> 800, shipping is free. Otherwise the charges are based on the distance between our nearest serving store and the delivery address.">Read Shipping Charges Policy</a>
                      <form action="#" method="post" id ="pincodeform">
                          {% csrf_token %}
                          {{ pincode_form}}
                          <p id="product_id" hidden>{{product.id}}<p>
                          <input type="submit" value="Check Availablity" />
                      </form>
                      <p id="available_check"></p>
                      {% if request.session.pincode %}
                        <p>You have set your location pincode to be :<b id="pincode">{{request.session.pincode}}</b></p>
                      {% endif %}

                      <script type="text/javascript">
                        $(function () {
                          $('[data-toggle="tooltip"]').tooltip()
                        })
                      </script>
                      <script type="text/javascript">
                        $(document).on('submit', '#pincodeform', function(e){
                          e.preventDefault();
                          var pincode = $('#id_pincode').val();
                          var product_id = $('#product_id').html();
                          var pincode_url = "/shop/pincode/" + product_id +"/";

                          $.ajax({
                            url: pincode_url,
                            data:{
                              'pincode':pincode,
                            },
                            dataType: 'json',
                            success: function(data){
                              if (data["is_valid_Pincode"]){
                                  if (data["is_available"]){
                                    $('#available_check').html("Product is available at " + data["office"] +" " + data["district"]);
                                    $('#pincode').html(pincode);
                                  } else {
                                    $('#available_check').html("Sorry ! Product is not available at " + data["office"] +" " + data["district"]);
                                    $('#pincode').html(pincode);
                                  }
                              }
                              else {
                                $('#available_check').html("The pincode entered by you is invalid. Please enter correct pincode.");
                                $('#pincode').html(pincode);
                              }
                            }
                          });

                        });
                      </script>

                    </div>
                  </div>
                {% if product.get_description %}
                <div class="success" style="font-size:14px; padding-top:15px;">
                  <h6>Product Description:</h6>

                  <p >{% autoescape off %}
                    {{ product.description|linebreaks }}
                  {% endautoescape %}</p>
                </div>
                {% endif %}
                {% if product.category.get_description %}
                <div class="success" style="font-size:14px; padding-top:15px;">
                  <h6>Category Description:</h6>

                  <p >{% autoescape off %}
                      {{ product.category.get_description|linebreaks }}
                  {% endautoescape %}</p>
                </div>
                {% endif %}
                {% if product.get_features %}
                  <div >
                    <table class = "table table-condensed" style ="font-size:12px;" id ="table_detail">
                       <caption>Features</caption>
                       <tbody>
                         {% for key, value in product.get_features.items %}
                            <tr>
                              <td>{{key}}:</td>
                              <td>{{value}}</td>
                            </tr>
                         {% endfor %}
                       </tbody>
                    </table>
                  </div>
                {% endif %}
            </div>
            <p id="city"></p>
        </div>
        <link rel="stylesheet" href="{% static 'css/bzoom.css' %}">
        <script src="{% static 'js/loadingoverlay.min.js' %}"></script>
        <script src="{% static 'js/option_selector.js' %}"></script>
        <script src="{% static 'js/jqzoom.js' %}"></script>
        <script type="text/javascript">
          $("#bzoom").zoom({
            zoom_area_width: 800,
            thumb_image_width:377.2,
            thumb_image_height:337.2,
            zoom_area_height:900,
            small_thumbs:{{product.get_images|length}},
            small_thumb_height:100,
            small_thumb_width:250,
            // MORE OPTIONS HERE
            });
        </script>
        <script type="text/javascript">
          c = $('.image_length').html();
          if (c ==1 ) {
              $('.bzoom_small_thumbs > ul > li').remove();}
        </script>
        <script type="text/javascript">
          $(".alert").alert()
        </script>
    </div>
