   {% load static %}
   {% load thumbnail %}
    <div class ="container" style="padding-top: 50px" id ="products">
        <div class="row">


            <div class="col-sm-6 col-md-6" style="min-height:550px;">
              <div class="bzoom_wrap">
                <ul id = "bzoom">
                  {% if product.get_images  %}
                  <p class="image_length" hidden>{{product.get_images|length}}</p>
                  
                  {% for image in product.get_images %}
                  <li>
                    <img class="bzoom_thumb_image" src="{{image.image.url}}" alt="">
                    <img class="bzoom_big_image" src="{{image.image.url}}" alt="">
                  </li>

                  {% endfor %}
                  {% else %}
                  <li>
                    <img class="bzoom_thumb_image" src="{% static "img/no_image.png" %}" alt="">
                    <img class="bzoom_big_image" src="{% static "img/no_image.png" %}" alt="">
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <h5>{{ product.name }}</h5>
                <p>
                    <div>



                    <div >
                      <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    </div>
                    <!-- Place this tag where you want the +1 button to render. -->

                </p>
                <h3><a href="{{ product.cateogry.get_absolute_url }}">{{ product.cateogry }}</a></h3>
                <p ><span class="WebRupee">Rs</span> {{ product.price }}</p>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input class ="btn btn-xs btn-danger" type="submit" value="Add to Cart">
                </form>


                {% for options in product.get_options %}
                    <h6 style="padding-top:2px;">{{ options.option_type }}:</h6>
                    {% for op in options.parent.get_children %}
                      <a href="{{op.get_absolute_url}}"><span class="badge">{{op.get_option_name}}</span></a>
                    {% endfor %}
                {% endfor %}

                {% if child_products %}
                  <div class="child_options" style="padding-top:2px;">
                    <h6>{{child_products.0.option_type}}:</h6>
                   {% for product in child_products %}
                      <a href="{{product.get_absolute_url}}"><span class="badge small">{{product.get_option_name}}</span></a>
                  {% endfor %}
                  </div>
                {% endif %}

                {% if product.get_description %}
                <div class="success" style="font-size:14px; padding-top:15px;">
                  <h6>Product Description:</h6>

                  <p >{{ product.description|linebreaks }}</p>
                </div>
                {% endif %}
                {% if product.category.get_description %}
                <div class="success" style="font-size:14px; padding-top:15px;">
                  <h6>Category Description:</h6>

                  <p >{{ product.category.get_description|linebreaks }}</p>
                </div>
                {% endif %}
                {% if product.get_features %}
                  <div >
                    <table class = "table table-condensed" style ="font-size:12px;" id ="table_detail">
                       <caption>Features</caption>
                       <tbody>
                         {% for key, value in product.get_features.items %}
                            <tr>
                              <td>{{key}}:</td>
                              <td>{{value}}</td>
                            </tr>
                         {% endfor %}
                       </tbody>
                    </table>
                  </div>
                {% endif %}
            </div>


        </div>
        <link rel="stylesheet" href="{% static 'css/bzoom.css' %}">
        <script src="{% static 'js/loadingoverlay.min.js' %}"></script>
        <script src="{% static 'js/option_selector.js' %}"></script>
        <script src="{% static 'js/jqzoom.js' %}"></script>

        <script type="text/javascript">
          $("#bzoom").zoom({
            zoom_area_width: 800,
            thumb_image_width:377.2,
            thumb_image_height:337.2,
            zoom_area_height:900,
            small_thumbs:{{product.get_images|length}},
            small_thumb_height:100,
            small_thumb_width:250,
            // MORE OPTIONS HERE
            });

        </script>
        <script type="text/javascript">
          c = $('.image_length').html();
          if (c ==1 ) {
              $('.bzoom_small_thumbs > ul > li').remove();}
        </script>
    </div>
