{% extends "shop/base.html" %}
{% load static %}
{% block carousel %}
<div class="container-fluid" style="padding:40px;">
	<div class="row">
		<div class="col-md-4" style="z-index:0;">
			<div class="list-group">
				{% for location in maps_url %}
				  <a href="#" class="list-group-item {% if forloop.counter == 1%}active {% endif %} sidebar" id="sidebar{{forloop.counter}}"
				  data-url="{{location.url}}">
				    {{ location.name }}
				  </a>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-8 text-center">
			   <iframe name="map" src="" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>
<script src="{% static 'js/url_getter.js' %}"></script>
{% endblock %}