body {
  min-height: 200px;
  padding-top: 70px;
}

.navbar-fixed-top {
    min-height: 10px;
}



.navbar-default {
	background-color: #ffffff;
	border-bottom-color: #383085;
  border-top-color: #EF7F19;
  border-width:medium;
}

/* CSS used here will be applied after bootstrap.css */
@media (min-width: 768px) {
  .navbar-nav {
  	text-align: left;
  	float: none;
  }

  .navbar-nav > li {
  	float: none;
  	display: inline-block;
  }
}

/* navbar menu when collapsed */
@media (max-width: 767px) {
  .navbar-nav {
      text-align: left;
  }
  .navbar-collapse {
  clear:both;
  }
}
