.flex, .flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-wrap: wrap;
}

.thumbnail {
   display: flex;
   flex-direction:column;
   align-content:stretch;
}
