{% load static %}
<link rel="stylesheet" href='{% static "css/morphext.css" %}'>
<script src= '{% static "js/morphext.min.js" %}'></script>
<div class='col-md-2 nopadding' style="padding-top: 30px;">
  <div class="panel panel-info" >
    <div class="panel-heading" style="font-size: 11px"> What Patrons say about us....</div>
    <div class="panel-body bg-info" style="min-height: 319px; color: #9A3334" >
		<div class="quote">
		<i class="fa fa-quote-left fa-pull-left" style="display: inline;"></i>
		<p id="testimonial" style="display: inline; text-align: justify-all; font-size: 12px;"> <span id="js-rotating-1">{% for testimonial in testimonials  %}
		  {% if not forloop.last %} {{testimonial.comment|truncatewords:60}} % {% else %} {{testimonial.comment|truncatewords:60}} {% endif %}
		{% endfor %}</span> <p>
		<i class="fa fa-quote-right fa-pull-right" style="display: inline;"></i>
		</div>
		<p style="text-align: right; color:#217C7E" id="testimonial_name">&mdash;  <span id="js-rotating-2">{% for testimonial in testimonials  %}
		  {% if not forloop.last %} {{testimonial.name}} % {% else %} {{testimonial.name}} {% endif %} {% endfor %}</span></p>

  </div>
  </div>
</div>

<script type="text/javascript">
$("#js-rotating-1").Morphext({
  // The [in] animation type. Refer to Animate.css for a list of available animations.
  animation: "flipInY",
  // An array of phrases to rotate are created based on this separator. Change it if you wish to separate the phrases differently (e.g. So Simple | Very Doge | Much Wow | Such Cool).
  separator: "%",
  // The delay between the changing of each phrase in milliseconds.
  speed: 6000,
  complete: function () {
      // Called after the entrance animation is executed.
  }
});
$("#js-rotating-2").Morphext({
  // The [in] animation type. Refer to Animate.css for a list of available animations.
  animation: "flipInY",
  // An array of phrases to rotate are created based on this separator. Change it if you wish to separate the phrases differently (e.g. So Simple | Very Doge | Much Wow | Such Cool).
  separator: "%",
  // The delay between the changing of each phrase in milliseconds.
  speed: 6000,
  complete: function () {
      // Called after the entrance animation is executed.
  }
});
</script>
