{% load static %}
{% load app_filter %}
{% load mptt_tags %}

<li>
            {% full_tree_for_model shop.ModifiedProduct as products %}

            {% for category,structure in bakery_item|tree_info %}
                {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
                    <a href="{{ category.get_absolute_url }}"><b>{{ category.name_for_hierarchial_list }}</b></a>
                        {% for product,structure in category|filter2|tree_info %}
                        {% if product.is_root_node %}
                            <ul><li>
                                <a href="{{ product.get_absolute_url }}">{{ product.name_for_hierarchial_list}}</a>
                            </li></ul>
                        {% else %}

                        {% endif %}

                        {% endfor %}
                {% for level in structure.closed_levels %}</li></ul>{% endfor %}
            {% endfor %}

</li>
